<nav class="nav nav-pills nav-justified bg-light fixed-bottom">
  <li class="nav-item">
    <a class="nav-link" href="/inbox/{{UserData.id}}" >Inbox</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/matches{{UserData.id}}">Matches</a>
  </li>
</nav>