<nav class="nav nav-pills nav-justified bg-light fixed-bottom">
  <li class="nav-item">
    <a class="nav-link" href="/profile/{{UserData.id}}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/matches">Matches</a>
  </li>
</nav>