<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <input id="thisUser" type="text" value="{{UserData.id}}" hidden>
  <a class="navbar-brand" href="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
<li class="nav-item">
    <a class="flex-sm-fill text-sm-center nav-link" href="/newpost">Create New Date</a>
</li>
<li class="nav-item">
    <a class="flex-sm-fill text-sm-center nav-link" href="/posts/{{UserData.id}}">Your Dates</a>
</li class="nav-item">
<li class="nav-item">
    <a class="flex-sm-fill text-sm-center nav-link" href="/matches">Your Matches</a>
</li>
<li class="nav-item">
    <a class="flex-sm-fill text-sm-center nav-link" href="/community">Your Community</a>
</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{UserData.first_name}} Stuff
        </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/profile/{{UserData.id}}" aria-labelledby="navbarDropdown">View your profile</a>
      <a class="dropdown-item" href="/profile">Edit your profile</a>
      <a class="dropdown-item" href="/matches">View your matches</a>
      <a class="dropdown-item disabled" aria-disabled="true" href="#">Change your account settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
      </li>
</ul>
</nav>

<br><br>