<script src="/assets/js/match.js"></script>
<div id="{{dataValues.id}}" class="carousel-cell">
  <div class="container">

    <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{dataValues.user2}}</h5>
            <h5 class="mb-1">{{User.dataValues.email}}</h5>

    </div>
  </div>
</div>
