<script src="./assets/js/dashboard.js"></script>
<h2 id="recentPost">Recently Posted Dates</h2>
<div class="container">
    <div class="list-group">
        {{#each Post}}
        {{> post-li}}
        {{/each}}
    </div>
</div>