<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6">
            <h1 class="display-4 font-italic">Your Date Dashboard</h1>
            <p class="lead my-3">Welcome back </p>
            <p class="lead mb-0"><a href="//profile" class="text-white font-weight-bold">Update your profile . . . </a></p>
        </div>
    </div>
    <h2>Recently Posted Dates</h2>
    <hr>
    <ol>
        {{#each Post}}
          {{> post-li}}
        {{/each}}         
    </ol>
</div>
</div>

