<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="text-center">
                <form class="form-login">
                    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                        width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="text" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me">Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="text-center">
                <div id="videoCarosel" class="carousel slide align-middle" data-ride="carousel" data-interval="7000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <video autoplay loop muted class="d-block w-100" alt="StockVideoFootage"
                                src="https://imgur.com/TYxfPFv.mp4"></video>
                            <div class="container">
                                <div class="carousel-caption text-center">
                                    <p>Find Amazing Dates</p>
                                    <p><a class="btn btn-sm btn-primary" href="./contact.html" role="button">Sign Up</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video autoplay loop muted class="d-block w-100" alt="StockVideoFootage" src="https://imgur.com/biMZZp8.mp4"></video>
                            <div class="container">
                                <div class="carousel-caption text-center">
                                    <p>Laugh Together</p>
                                    <p><a class="btn btn-sm btn-primary" href="./contact.html" role="button">Sign Up</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video autoplay loop muted class="d-block w-100" alt="StockVideoFootage"
                                src="https://imgur.com/K5lBzkP.mp4"></video>
                            <div class="container">
                                <div class="carousel-caption text-center">
                                    <p>Grow Together</p>
                                    <p><a class="btn btn-sm btn-primary" href="./contact.html" role="button">Sign Up</a></p>
                                </div>
                            </div>
                        </div>      
                        <div class="carousel-item">
                            <video autoplay loop muted class="d-block w-100" alt="StockVideoFootage"
                                src="https://imgur.com/Q5LJ1n1.mp4"></video>
                            <div class="container">
                                <div class="carousel-caption text-center">
                                    <p>Get Away</p>
                                    <p><a class="btn btn-sm btn-primary" href="./contact.html" role="button">Sign Up</a></p>
                                </div>
                            </div>
                        </div>                                         
                        <div class="carousel-item">
                            <video autoplay loop muted class="d-block w-100" alt="StockVideoFootage"
                                src="https://imgur.com/y8TswYT.mp4"></video>
                            <div class="container">
                                <div class="carousel-caption text-center">
                                    <p>Learn Each Other</p>
                                    <p><a class="btn btn-sm btn-primary" href="./contact.html" role="button">Sign Up</a></p>
                                    </div>
                            </div>
                        </div>                             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>