<div class="container">
    <div class="row">
        <div>
            <div class="text-center">
                <form class="form-signin">
                    {{!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                        width="72" height="72"> --}}
                    <h1 class="h3 mb-3 font-weight-normal">Please Fill out the information below:</h1>
                    <br><br>

                    <h3>First Name:</h3>
                    <label for="inputFirstName" class="sr-only">Email address</label>
                    <input type="text" id="first-name" class="form-control" placeholder="John/Jane" required autofocus>
                    <br>

                    <h3>Last Name:</h3>
                    <label for="inputLastName" class="sr-only">Password</label>
                    <input type="text" id="last-name" class="form-control" placeholder="Doe" required>

                    <h3>Email:</h3>
                    <label for="inputEmail" class="sr-only">Password</label>
                    <input type="text" id="email" class="form-control" placeholder="a@a.com" required>


                    <h3>Password:</h3>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="input-password" class="form-control"
                        placeholder="Shhhhhh use something unique" required>


                    <h3>Age:</h3>
                    <label for="inputAge" class="sr-only">Password</label>
                    <input type="number" id="age" class="form-control" required>

                    {{!-- <br>
                    <h3>What are you looking for in a significant other? (1 of 3):</h3>
                    <label for="inputPref1" class="sr-only">Password</label>
                    <input type="text" id="pref-1" class="form-control" required>


                    <br>
                    <h3>What are you looking for in a significant other? (2 of 3):</h3>
                    <label for="inputPref2" class="sr-only">Password</label>
                    <input type="text" id="pref-2" class="form-control" required>


                    <br>
                    <h3>What are you looking for in a significant other? (3 of 3):</h3>
                    <label for="inputPref3" class="sr-only">Password</label>
                    <input type="text" id="pref-3" class="form-control" required>

                    <br>
                    <h3>What should someone know about you? (1 of 3):</h3>
                    <label for="aboutMe1" class="sr-only">Password</label>
                    <input type="text" id="about-me-1" class="form-control" required>

                    <br>
                    <h3>What should someone know about you? (2 of 3):</h3>
                    <label for="aboutMe2" class="sr-only">Password</label>
                    <input type="text" id="about-me-2" class="form-control" required>

                    <br>
                    <h3>What should someone know about you? (3 of 3):</h3>
                    <label for="aboutMe3" class="sr-only">Password</label>
                    <input type="text" id="about-me-3" class="form-control" required>
 --}}
                    <br>
                    <h3>Security Question: What is? (1 of 2):</h3>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="text" id="security-1" class="form-control" required>

                    <br>
                    <h3>Security Question: What is? (2 of 2):</h3>
                    <label for="inputSecurity2" class="sr-only">Password</label>
                    <input type="text" id="security-2" class="form-control" required>

                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>